.explore {
    background-color: var(--color-accent);
    width: 70%;
    margin: auto;
    min-height: 900px; // Ändrade height till min-height för att den ska kunna växa om den behöver.
    // opacity: 0.47;

    // La till elementet jag skapade och gav det position relative så din pagination kan hålla sin innanför.
    &__image {
        position: relative;
    }

    &__inner {
        height: 100%;
        position: relative;

        &--title {
            color: black;
            text-align: center;
            font-size: 76px;
            padding-top: 32px;
            margin-bottom: 0;
        }
    
        &--subtitle {
            color: black; //temp
            text-align: center;
            font-size: 28px;
            margin-top: 0;
        }
    }

    // Tog bort align-items center då den den inte placerar din delar så bra nu när dina absolut positionerade saker är borta
    // La till gap för att skapa utrymme mellan text och bild
    &__content {
        width: 100%;
        max-height: 800px;
        display: flex;
        justify-content: space-between;
        //align-items: center;
        position: relative;
        gap: 48px;                      // la till gap
    }

    &__image {
        max-width: 380px;
        width: 100%;
        margin-right: 68px;
        margin-bottom: 88px;
        position: relative;
        
    }

    &__list {
        font-size: 28px;
        height: 400px;
        margin-left: 28px;
    }
    
    &__list-items {
        padding:10px;
        margin:6px;
    }

    // Tog bort position absolute så den kan följa storleken av text.
    // Ändrade därför positionering med margin
    &__button {
        //position: absolute;
        //bottom: 128px;
        //left: 48px;
        margin-top: 48px;
        margin-left: 48px;
        margin-bottom: 128px;
        color: black; //temp
        //make color on svg aswell

    }



    // Tog bort margin för att istället nu styra med top, bottom, right osv.
    // Iochmed att den nu ligger i en box som håller i både bild och pagination som har position relative
    // så utgår pagination från dessa kordinater.
    &__pagination {
        display: flex;
        align-items: center;
        gap: var(--gap-s);
        flex: 1;
        position: absolute;
        left: 50%;                      // Ändrade right till left och centrerade utgångsläget för nav
        bottom: 32px;                   // La till botten
        transform: translateX(-50%);    // Centrerade sen nav utifrån sin left position
        //margin-right: 175px;          // Tog bort margin

        &::before {
            content: '';
            display: block;
            height: 1px;
            flex: 1;
            background-color: var(--color-light);
            opacity: 0.34;
    }
    

    }

    .counter {
        white-space: nowrap;

        &__total {
            &:before {
                content: '/'
            }
        }
    }
}